-----
# **Context**
-----

**WOW Superstore** sells different products like office supplies, furniture and appliances. For each order that is placed, the superstore keeps a record of various attributes related to the product, like state, city, category, subcategory and quantity.

**Let's display a welcome message from WOW Superstore.**

* We can use the print() function for this purpose.

In [68]:
message = 'Hi! Welcome to the Wow superstore.'
print(message)

Hi! Welcome to the Wow superstore.

* In the above cell, 'message' is a **variable**.

* Variables can store data of different types.

* Variables in Python can have different data types.

* 'message' above is of string (str) type.

**The superstore has a stock of 100 phones. Recently, an order was placed for 20 phones. It has to be updated to add 10 more phones.**

In [69]:
init_stock = 100
print(f'Inventory in stock: {init_stock}')

order_placed = 20
print(f'Order placed: {order_placed}')

order_upd = order_placed + 10
print(f'Updated Order: {order_upd}')

Inventory in stock: 100
Order placed: 20
Updated Order: 30

**The inventory has to be updated as per the updated order. We will have to subtract the quantity of phones in the updated order (order_upd) from the initial inventory count of 100.**

In [70]:
inventory_upd = init_stock - order_upd
print(f'The inventory has been updated. The remaining inventory is {inventory_upd}')

The inventory has been updated. The remaining inventory is 70

**The cost of each phone is $150.50. Let's compute the total amount for the updated order (order_upd).**

In [71]:
cost_per_phone = 150.50
total_amount = order_upd * cost_per_phone
print(f'Total order amount: {total_amount} ')

Total order amount: 4515.0

**For the upcoming Black Friday sale, the superstore is providing a discount of 20% on phones and 10% on chairs, but there is no discount on any other product.**

**For a given product, let's display a message that informs a customer about how much discount they will get on their order.**

In [72]:
product = input('Enter the product: ')

if product.lower() =='phone':
  print('You will receive a 20% discount on this product!!')
elif product.lower() =='chair':
  print('You will receive a 10% discount on  this product!!')
else:
  print('Sorry! There is no discount on this product.')

Enter the product: phone
You will receive a 20% discount on this product!!

**WOW Superstore has provided a snapshot of some of the product attributes stored by them.**

| Order ID | Category | Sub-Category | Quantity | Unit Price |
| --- | --- | --- | --- | --- |
| WOWORD001 | Office Supplies | Binders | 3 | 10.20 |
| WOWORD002 | Technology | Phones | 30 | 150.50 |
| WOWORD003 | Office Supplies | Paper | 50 | 4.50 |
| WOWORD004 | Furniture | Chairs | 5 | 30.75 |
| WOWORD005 | Office Supplies | Binders | 2 | 10.20 |

**Let's create a variable that will store all the order IDs.**

In [73]:
order_id_lists = ['WOWORD001','WOWORD002','WOWORD003','WOWORD004']
print(f'Order IDs: {order_id_lists}')

Order IDs: ['WOWORD001', 'WOWORD002', 'WOWORD003', 'WOWORD004']

* That seems to have worked.
* But we missed one order ID.
* Will we have to recreate the list from scratch?
* NO! We can add the missed order ID to the current list using the *append()* function.

In [74]:
order_id_lists.append('WOWORD005')
print(f'Order IDs: {order_id_lists}')

Order IDs: ['WOWORD001', 'WOWORD002', 'WOWORD003', 'WOWORD004', 'WOWORD005']

* The list of order IDs is fixed now.
* Let's create lists for the other attributes too.

In [75]:
category_list = ['Office Supplies', 'Technology', 'Office Suplies', 'Furniture', 'Office Suplies']
sub_category_list = ['Blinders', 'Phones', 'Paper', 'Chairs', 'Blinders']
quantity_list = [3,30,50,5,2]
unit_price_list = [10.20,150.50,4.50,30.75,10.20]

In [76]:
# let's print the lists we created
print(f'Category List: {category_list}')
print(f'Sub-Category List: {sub_category_list}')
print(f'Quantity List: {quantity_list}')
print(f'Unit Price List: {unit_price_list}')

Category List: ['Office Supplies', 'Technology', 'Office Suplies', 'Furniture', 'Office Suplies']
Sub-Category List: ['Blinders', 'Phones', 'Paper', 'Chairs', 'Blinders']
Quantity List: [3, 30, 50, 5, 2]
Unit Price List: [10.2, 150.5, 4.5, 30.75, 10.2]

* If we want to analyze this data, we will have to work with multiple lists.
* It will not be feasible to apply different operations on multiple lists, especially if the number of attributes increases.
* So, it is clear we need a more efficient way of handling the data simultaneously at the attribute and record levels.
* In Python, we can do this with pandas dataframe.

* pandas is a powerful, easy-to-use, open-source Python library used for data analysis and manipulation.
* It is very useful when working with tabular data.
* Python has many other libraries which are useful for different tasks.
* We can import these libraries into a Jupyter notebook to access and use the functionalities of these libraries.

**Let's combine the lists we created into a dataframe. To do that, we have to first import the pandas library.**

In [3]:
import pandas as pd

* Let's first create an empty dataframe.

In [78]:
super_store_data = pd.DataFrame()

* Next, we will add one column to the empty dataframe.

*Let's see what all we have in the **order_id_list** first-*

In [79]:
print(order_id_lists)

['WOWORD001', 'WOWORD002', 'WOWORD003', 'WOWORD004', 'WOWORD005']

*now, we will be creating the 'OrderId' column using the values of the order_id list -*

In [80]:
super_store_data['orderId'] = order_id_lists

In [81]:
# displaying the dataframe
super_store_data

     orderId
0  WOWORD001
1  WOWORD002
2  WOWORD003
3  WOWORD004
4  WOWORD005

 * Similarly, let's add the other columns using the list that has been created.

In [82]:
super_store_data['category'] = category_list
super_store_data['subcategory'] = sub_category_list
super_store_data['quantity'] = quantity_list
super_store_data['unit price'] = unit_price_list

In [83]:
# displaying the dataframe
super_store_data

     orderId         category subcategory  quantity  unit price
0  WOWORD001  Office Supplies    Blinders         3       10.20
1  WOWORD002       Technology      Phones        30      150.50
2  WOWORD003   Office Suplies       Paper        50        4.50
3  WOWORD004        Furniture      Chairs         5       30.75
4  WOWORD005   Office Suplies    Blinders         2       10.20

**Let's create another column 'Total_Amount' in the dataframe that will contain the product of quantity and unit price.**

In [84]:
super_store_data['total amount'] = super_store_data['quantity'] * super_store_data['unit price']

In [85]:
# displaying the dataframe
super_store_data

     orderId         category subcategory  quantity  unit price  total amount
0  WOWORD001  Office Supplies    Blinders         3       10.20         30.60
1  WOWORD002       Technology      Phones        30      150.50       4515.00
2  WOWORD003   Office Suplies       Paper        50        4.50        225.00
3  WOWORD004        Furniture      Chairs         5       30.75        153.75
4  WOWORD005   Office Suplies    Blinders         2       10.20         20.40

* We have created the Total_Amount column successfully.

**The superstore is currently not shipping office supplies due to COVID restrictions.**

**We have to print an appropriate message for the customer depending upon the category of the product ordered.**

In [87]:
for i in super_store_data['category']:
  print(f'Product Order: {i}')
  if i == 'Office Supplies':
    print('Sorry! The product is currently not being shipped. \n')
  else:
    print('Your Order will be shipped as soon as possible. \n')

Product Order: Office Supplies
Sorry! The product is currently not being shipped.

Product Order: Technology
Your Order will be shipped as soon as possible.

Product Order: Office Suplies
Your Order will be shipped as soon as possible.

Product Order: Furniture
Your Order will be shipped as soon as possible.

Product Order: Office Suplies
Your Order will be shipped as soon as possible.

* What we saw above was just a snapshot of data.
* The complete data has a lot more columns and observations.
* It is clear that it will not be feasible to analyze the complete data by creating a dataframe from multiple lists.

* We generally have tabular data stored as CSV or Excel files.
* They can be loaded directly into a pandas dataframe.
* The WOW Superstore data is available in a CSV format.
* We can load the data into a pandas dataframe using the *read_csv()* function.

**Loading a dataset in colab:**

To load a dataset in colab, we need to give 'google colab' the access to our google drive -

In [1]:
#Mounting google drive to access file

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# loading the data file into a pandas dataframe

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/UTAustin/Pre-work Session /Pre-engagement Session/Session 1/WOW+Super+store.csv')

**Let's take a quick look at the data.**

In [7]:
# viewing the first 5 rows of the data
data.head()

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,WOWID0001,Standard Class,Consumer,Seattle,Washington,West,Office Supplies,Binders,407.976,3,0.2,132.5922
1,WOWID0002,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Appliances,68.810,5,0.8,-123.8580
2,WOWID0003,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Binders,2.544,3,0.8,-3.8160
3,WOWID0004,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Furniture,Bookcases,3083.430,7,0.5,-1665.0522
4,WOWID0005,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,9.618,2,0.7,-7.0532

In [8]:
# viewing the last 5 rows of the data

data.tail()

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1945,WOWID1946,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Office Supplies,Paper,3.4240,1,0.20,1.0700
1946,WOWID1947,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Technology,Accessories,151.2000,3,0.20,32.1300
1947,WOWID1948,First Class,Home Office,Houston,Texas,Central,Office Supplies,Paper,65.5840,2,0.20,23.7742
1948,WOWID1949,First Class,Home Office,Houston,Texas,Central,Furniture,Bookcases,383.4656,4,0.32,-67.6704
1949,WOWID1950,Standard Class,Consumer,Houston,Texas,Central,Office Supplies,Envelopes,99.5680,2,0.20,33.6042

In [11]:
# random 5 data
data.sample(5)

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
985,WOWID0986,Standard Class,Corporate,Seattle,Washington,West,Office Supplies,Paper,47.900,1,0.0,22.9920
511,WOWID0512,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,5.346,3,0.7,-4.4550
1760,WOWID1761,First Class,Corporate,Dallas,Texas,Central,Office Supplies,Paper,78.304,2,0.2,29.3640
736,WOWID0737,Standard Class,Home Office,Chicago,Illinois,Central,Technology,Phones,124.792,1,0.2,10.9193
668,WOWID0669,Standard Class,Home Office,Houston,Texas,Central,Office Supplies,Paper,10.272,3,0.2,3.2100